.inter{
  font-family: "Inter", sans-serif; 
}

.noto-serif{
  font-family: "Noto Serif", serif;  
}


/*common css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(245, 248, 255, 1) ;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1140px;
    margin: auto;
}


li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;    
}

.yellow{
   color: rgba(233, 90, 8, 1); 
}

/* logo section css */
.logo-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.logo-items ul{
    display: flex;
    gap: 48px;

}

.home{
    color: rgba(37, 36, 50, 1);
    font-size: bolder;
}

.shop{
    color: rgba(137, 135, 161, 1);
}

/* banner sections css */
.banner-container{
    display: flex;
    /* margin-top: 120px; */
    align-items: end;
    justify-content: space-between;
    padding-top: 106px;
    margin-bottom: 210px;
}

.banner-item{
    max-width: 570px; 
    
}
.banner-item h3{
    font-family: "Noto Serif", serif; 
    font-weight: 700;
    font-size: 4rem;
}

.banner-item p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 13px;
}

.banner-img{
    max-width: 100%;
    max-height: 355px ;
}

/* plant section card */

.plant-header{
    margin-top: 120px;
    justify-items: center;
    text-align: center;
}

.plant-title{
    font-size: 3.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);

}
.plant-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
     
}


.plant-card-container{
    flex: 1;
    margin-bottom: 120px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 30px;
}
.plant-card{
    /* border: 1px solid black; */
    max-width: 100%;
    text-align: center;

}
.plant-card img{
    max-width: 100%;
}
.plant-card-des{
    font-size: 1.25rem;
    font-weight: 500;
    color:rgba(17, 17, 17, 1) ;
    margin: 15px;
    
}
.plant-card-title{
    font-size: 1.25rem;
    margin-bottom: 30px;
    font-weight: 700;
    color:rgba(17, 17, 17, 1);
    
}
.btn-plant{
    background-color: rgba(233, 90, 8, 1) ;
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: 19px 40px;
    width: 270px;
    border: none;

    

}



/* Responsive media quary */

@media screen and (max-width:576px) {
    .container{
        margin: 0 20px;
    }
    .logo-container{
        flex-direction: row;
        margin: 20px 16px;
        max-width: 100%;
        
    }
    .home, .shop{
        display: none;
    }

    /* banner part */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-item{
        margin: 28px 16px ;
    }
    .banner-item h3{
        font-size: 2rem;
    }
    /* plant card part */
    .plant-header{
        text-align: center;
        justify-items: center;
        margin: auto;
        
    }
    .plant-header p{
        margin: 20px auto;
    }
    .plant-card-container{
        flex: 1;
        grid-template-columns: repeat(2,1fr);
        max-width: 100%;
        gap: 20px;
        
    }
    .plant-card {
        max-width: min-content;
    }
}