.inter{
  font-family: "Inter", sans-serif; 
}

.noto-serif{
  font-family: "Noto Serif", serif;  
}


/*common css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.color{
    background-color: rgba(245, 248, 255, 1) ;
}
img{
    max-width: 100%;
}

.container{
    max-width: 1140px;
    margin: auto;
}


.logo-items-container .logo-items li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;    
}

.yellow{
   color: rgba(233, 90, 8, 1); 
}

/* logo section css */
.logo-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.logo-items ul{
    display: flex;
    gap: 48px;

}

.home{
    color: rgba(37, 36, 50, 1);
    font-size: bolder;
}

.shop{
    color: rgba(137, 135, 161, 1);
}

/* banner sections css */
.banner-container{
    display: flex;
    /* margin-top: 120px; */
    align-items: end;
    justify-content: space-between;
    padding-top: 106px;
    margin-bottom: 210px;
}

.banner-item{
    max-width: 570px; 
    
}
.banner-item h3{
    font-family: "Noto Serif", serif; 
    font-weight: 700;
    font-size: 4rem;
}

.banner-item p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 13px;
}

.banner-img{
    max-width: 100%;
    max-height: 355px ;
}

/* plant section card */

.plant-header{
    margin-top: 120px;
    justify-items: center;
    text-align: center;
}

.plant-title{
    font-size: 3.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);

}
.plant-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
     
}


.plant-card-container{
    
    margin-bottom: 120px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}
.plant-card{
    /* border: 1px solid black; */
    max-width: 270px;
    text-align: center;

}
.plant-card img{
    max-width: 100%;
}
.plant-card-des{
    font-size: 1.25rem;
    font-weight: 500;
    color:rgba(17, 17, 17, 1) ;
    margin: 15px;
    
}
.plant-card-title{
    font-size: 1.25rem;
    margin-bottom: 30px;
    font-weight: 700;
    color:rgba(17, 17, 17, 1);
    
}
.btn-plant{
    background-color: rgba(233, 90, 8, 1) ;
    color: white;
    font-weight: 600;
    padding: 19px 40px;
    width: 100%;
    border: none;  
}

/* plant lover section */
.plant-lover-container{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 135px;
    position: relative;
    
    
}

.plant-lover-img{
    max-width: 540px;
    flex: 1;
}

.trusted-spin{
    background-color: transparent !important;
    max-width: 250px;
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.trusted-spin img{
    background-color: transparent !important;
}

.plant-lover-items{
    flex: 1;
    margin: 30px 0px;
    
}
.plant-lover-items h3{
   font-size: 3.25rem;
   font-weight: 700;
   margin: 15px 0;

}

.plant-lover-items ul li p {
    font-family: "Inter", sans-serif; 
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    
}
.plant-lover-items ul{
    margin-left: 40px;
}

/* deals section css */
.deals-items{
    justify-items: center;
    align-items: center;
    
}

.deals-title{
    font-size: 3.25rem;
    font-weight: 700;
}
.deals-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
    text-align: center;
}


.deals-container{
    margin-top: 100px;
    display: flex;
    
    gap: 24px;
    margin-bottom: 100px;
}



.left-deals-part{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}


.deal-img-small{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(54, 54, 54, 0.637);
    max-width: 100%;
    height: 206px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    
    
}

.deal-img-large{
    
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
    width: 753px;
    height: 100%;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.deal-content{
    font-size: 1.25rem;
    color: aliceblue;
 
    
}
.deal-content h3{
    font-size: 2rem;
}
.deal-content a{
    color: aliceblue;
    font-size: 1.25rem;
   
}
/* join deal section */
.join-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 533px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
   
}

 .join-items h3{
    font-size: 3.25rem;
    font-weight: 700;
    color: aliceblue;
    margin-bottom: 20px;
}
.join-items input{
    width: 644px;
    height: 50%;
}

.btn-join{
    background-color: #E95A08;
    padding: 20px 60px;
    border: none;
    color: aliceblue;
    font-size: 1rem;
}
/* Responsive media quary */

@media screen and (max-width:576px) {
    .container{
        margin: 0 20px;
    }
    .logo-container{
        flex-direction: row;
        margin: 20px 16px;
        max-width: 100%;
        
    }
    .home, .shop{
        display: none;
    }

    /* banner part */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-item{
        margin: 28px 16px ;
    }
    .banner-item h3{
        font-size: 2rem;
    }


    /* plant card part */
    .plant-header{
        text-align: center;
        justify-items: center;
        margin: auto;
        
    }
    .plant-header p{
        margin: 20px auto;
    }
    .plant-card-container{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;      
    }
    .plant-card {
        max-width: 171px;
    }
/* plant lover section */

    .plant-lover-container{
        flex-direction: column;
    }
    .plant-lover-items h3{
        margin:0;
        padding: 0;
    }
    .trusted-spin{
        display: none;
    }

    /* deal-section */
    .deals-container{
        flex-direction: column;
    }

    .deal-img-large{
        width: 100%;
        height: 300px;
    }

    /* join section */
    .join-items input{
        max-width: 220px;
        height: 30%;
    }
}